@page "/Shell/{UniqueId:guid}"
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime;

<h3>Shell</h3>

<div class="row">
    <div class="col-md-12">
        <div id="ShellOutput"></div>
    </div>
    <div class="form-group col-md-2">
        <label for="CommandMode">Command Mode</label>
        <select class="form-control" id="CommandMode" @bind="@CommandMode">
            <option value="0">Single Line</option>
            <option value="1">Multi Lines</option>
        </select>
    </div>
    <div class="form-group  col-md-10">
        <label for="CommandText">Command Content</label>
        @if (CommandMode == 0)
        {
            <input type="text" class="form-control" autocomplete="off" id="CommandText" @onkeydown="@OnCommandKeydown" @bind-value="@Command" @bind-value:event="oninput">
        }
        else
        {
            <textarea id="CommandText" class="form-control" @bind="@Command" @bind:event="oninput"></textarea>
        }
    </div>
    <div class="form-group  col-md-12">
        <button type="button" class="btn btn-primary" @onclick="@RunCommand">Run Command</button>
        <button type="button" class="btn btn-danger" @onclick="@Clear">Clear</button>
    </div>
</div>

@code{

    [Parameter]
    public Guid UniqueId { get; set; }

    public int CommandMode { get; set; }

    static Task task;
    static System.Threading.CancellationTokenSource cancellationTokenSource;
    public string Command { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await JSRuntime.InvokeAsync<object>("StartTerm", "ShellOutput");
                WriteToConsole();

                currentCommandLine = StaticUtils.InitCurrentCommandLine(UniqueId);

                cancellationTokenSource?.Cancel();
                cancellationTokenSource?.Dispose();
                cancellationTokenSource = null;

                if (task != null)
                {
                    try
                    {
                        await task;

                    }
                    catch (TaskCanceledException)
                    {
                        // Ignore
                    }

                    task.Dispose();
                    task = null;
                }

                var isConnected = await Http.GetFromJsonAsync<ServerResponse<bool>>("/api/Shell/IsConnected?uniqueId=" + UniqueId);

                if (isConnected.Response)
                {
                    cancellationTokenSource = new System.Threading.CancellationTokenSource();
                    var token = cancellationTokenSource.Token;

                    task = Task.Run(async () =>
                    {
                        while (true)
                        {
                            token.ThrowIfCancellationRequested();

                            var needGetLinesRightNow = false;
                            var response = await Http.GetFromJsonAsync<ServerResponse<ServerOutput>>("/api/Shell/GetShellOutput?uniqueId=" + UniqueId, token);
                            if (response.StausResult == StausResult.Successful)
                            {
                                if (!string.IsNullOrEmpty(response.Response.Output))
                                {
                                    await WriteToConsole(response.Response.Output, false);

                                    if (response.Response.Lines == Constants.MaxinumLines)
                                    {
                                        needGetLinesRightNow = true;
                                    }
                                }
                            }
                            else
                            {
                                await WriteToConsole(response.ExtraMessage);


                                if (response.StausResult == StausResult.Exception)
                                {
                                    cancellationTokenSource.Cancel();
                                }
                            }

                            if (needGetLinesRightNow)
                            {
                                await Task.Delay(100, token);
                            }
                            else
                            {
                                await Task.Delay(1000, token);
                            }
                        }
                    }, token);
                }
                else
                {
                    await WriteToConsole("Not connected");
                }
            }
            catch (Exception ex)
            {
                await WriteToConsole(ex.Message);
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    bool IsRunningCommand { get; set; }

    async void RunCommand()
    {
        if (IsRunningCommand)
        {
            await WriteToConsole("Is running command, please wait for pre-command finished");
            return;
        }

        IsRunningCommand = true;

        try
        {
            StaticUtils.RecordCommands(UniqueId, Command, ref currentCommandLine);

            var content = await Http.GetAsync("/api/Shell/RunShellCommand?command=" + System.Web.HttpUtility.UrlEncode(Command) + "&uniqueId=" + UniqueId);
            if (content.IsSuccessStatusCode)
            {
                var response = await content.Content.ReadFromJsonAsync<ServerResponse<bool>>();

                if (response.StausResult != StausResult.Successful || !response.Response)
                {
                    await WriteToConsole(response.ExtraMessage);
                }
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("ShowNotLogin", "Not login");
                NavManager.NavigateTo("/Login");
            }
        }
        catch (Exception ex)
        {
            await WriteToConsole(ex.Message);
        }

        IsRunningCommand = false;
        Command = string.Empty;
        StateHasChanged();
    }

    async void Clear()
    {
        Command = string.Empty;
        StaticUtils.Clear(UniqueId);
        await JSRuntime.InvokeAsync<object>("ClearTerm");
        currentOutputIndex = 0;
        currentCommandLine = 1;
    }

    int currentCommandLine;

    void OnCommandKeydown(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            RunCommand();
        }
        else if (args.Key == "ArrowUp")
        {
            var result = StaticUtils.GetPreCommand(UniqueId, ref currentCommandLine);
            if (result.Successful)
            {
                Command = result.CommandStr;
            }
        }
        else if (args.Key == "ArrowDown")
        {
            var result = StaticUtils.GetNextCommand(UniqueId, ref currentCommandLine);
            if (result.Successful)
            {
                Command = result.CommandStr;
            }
        }
    }

    int currentOutputIndex;

    async Task WriteToConsole(string messageToWrite, bool addNewLine = true)
    {
        StaticUtils.AddOutputString(UniqueId, addNewLine ? (Constants.NewLineForShell + messageToWrite + Constants.NewLineForShell) : messageToWrite);

        await JSRuntime.InvokeAsync<object>("WriteToTerm", StaticUtils.GetOutputString(UniqueId, ref currentOutputIndex));
    }

    async void WriteToConsole()
    {
        await JSRuntime.InvokeAsync<object>("ClearTerm");

        currentOutputIndex = 0;

        await JSRuntime.InvokeAsync<object>("WriteToTerm", StaticUtils.GetOutputString(UniqueId, ref currentOutputIndex));
    }
}